src/main/resources/opener-analysis-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://remoteservice.vicomtech.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://remoteservice.vicomtech.org/" name="OpenerServiceImplService">
<types/>
<message name="analyzeText">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="analyzeTextResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="identifyLanguage">
<part name="arg0" type="xsd:string"/>
</message>
<message name="identifyLanguageResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="tokenize">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="tokenizeResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="postag">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="postagResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="polarityTag">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="polarityTagResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="nerc">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="nercResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="namedEntityLink">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="namedEntityLinkResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="opinionDetect">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="opinionDetectResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="parseConstituents">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="parseConstituentsResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="corefDetect">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="corefDetectResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="OpenerService">
<operation name="analyzeText" parameterOrder="arg0 arg1">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/analyzeTextRequest" message="tns:analyzeText"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/analyzeTextResponse" message="tns:analyzeTextResponse"/>
</operation>
<operation name="identifyLanguage">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/identifyLanguageRequest" message="tns:identifyLanguage"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/identifyLanguageResponse" message="tns:identifyLanguageResponse"/>
</operation>
<operation name="tokenize" parameterOrder="arg0 arg1">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/tokenizeRequest" message="tns:tokenize"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/tokenizeResponse" message="tns:tokenizeResponse"/>
</operation>
<operation name="postag" parameterOrder="arg0 arg1">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/postagRequest" message="tns:postag"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/postagResponse" message="tns:postagResponse"/>
</operation>
<operation name="polarityTag" parameterOrder="arg0 arg1">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/polarityTagRequest" message="tns:polarityTag"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/polarityTagResponse" message="tns:polarityTagResponse"/>
</operation>
<operation name="nerc" parameterOrder="arg0 arg1">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/nercRequest" message="tns:nerc"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/nercResponse" message="tns:nercResponse"/>
</operation>
<operation name="namedEntityLink" parameterOrder="arg0 arg1">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/namedEntityLinkRequest" message="tns:namedEntityLink"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/namedEntityLinkResponse" message="tns:namedEntityLinkResponse"/>
</operation>
<operation name="opinionDetect" parameterOrder="arg0 arg1">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/opinionDetectRequest" message="tns:opinionDetect"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/opinionDetectResponse" message="tns:opinionDetectResponse"/>
</operation>
<operation name="parseConstituents" parameterOrder="arg0 arg1">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/parseConstituentsRequest" message="tns:parseConstituents"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/parseConstituentsResponse" message="tns:parseConstituentsResponse"/>
</operation>
<operation name="corefDetect" parameterOrder="arg0 arg1">
<input wsam:Action="http://remoteservice.vicomtech.org/OpenerService/corefDetectRequest" message="tns:corefDetect"/>
<output wsam:Action="http://remoteservice.vicomtech.org/OpenerService/corefDetectResponse" message="tns:corefDetectResponse"/>
</operation>
</portType>
<binding name="OpenerServiceImplPortBinding" type="tns:OpenerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="analyzeText">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
<operation name="identifyLanguage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
<operation name="tokenize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
<operation name="postag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
<operation name="polarityTag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
<operation name="nerc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
<operation name="namedEntityLink">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
<operation name="opinionDetect">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
<operation name="parseConstituents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
<operation name="corefDetect">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://remoteservice.vicomtech.org/"/>
</output>
</operation>
</binding>
<service name="OpenerServiceImplService">
<port name="OpenerServiceImplPort" binding="tns:OpenerServiceImplPortBinding">
<soap:address location="http://192.168.17.128:9999/ws/opener"/>
</port>
</service>
</definitions>